:root {
  --background: #1C2236;
  --active-bg: #111B40;
  --text: #EEFCFF;
  --primary: #0BCD08;
  --dark-primary: hsl(119deg 80% 30%);
  --secondary: #0EAAED;
  --error: #F12D06;
  --disabled-bg: #AFAFAF;
  --disabled-txt: #E1E6E7;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  margin: 0;
}

* {
  box-sizing: border-box;
}